@font-face {
    font-family: 'Larsseit';
    src: local('Larsseit Regular'), local('Larsseit-Regular'),
        url('Larsseit.woff2') format('woff2'),
        url('Larsseit.woff') format('woff'),
        url('Larsseit.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }